In [4]:
import pandas as pd
import calendar
df = pd.read_excel(r'Historical Gas Prices.xls', sheet_name='Data 2', header=2)
df.drop(df.columns[1],inplace=True,axis=1)
df.dropna(axis=0, how="any", inplace=True)
df["Year"] = df["Date"].dt.strftime('%Y')
df["Month"] = df["Date"].dt.strftime('%b')
df.rename(columns={df.columns[1]: "New_England_Prices",df.columns[2]: "Central_Atlantic_Prices",df.columns[3]: "Lower_Atlantic_Prices",df.columns[4]: "Midwest_Prices",df.columns[5]: "Gulf_Coast_Prices",df.columns[6]: "Rocky_Mountain_Prices",df.columns[7]: "West_Coast_Prices",df.columns[8]: "West_Coast_No_Cali_Prices"}, inplace=True)
df

,Date,New_England_Prices,Central_Atlantic_Prices,Lower_Atlantic_Prices,Midwest_Prices,Gulf_Coast_Prices,Rocky_Mountain_Prices,West_Coast_Prices,West_Coast_No_Cali_Prices,Year,Month
314,1998-05-18,1.078,1.074,0.992,1.081,1.002,1.127,1.205,1.162,1998,May
315,1998-05-25,1.084,1.077,0.993,1.075,0.998,1.122,1.209,1.170,1998,May
316,1998-06-01,1.083,1.077,0.992,1.067,1.001,1.115,1.202,1.166,1998,Jun
317,1998-06-08,1.084,1.078,0.992,1.090,1.000,1.169,1.192,1.162,1998,Jun
318,1998-06-15,1.085,1.074,0.985,1.070,1.001,1.156,1.190,1.160,1998,Jun
...,...,...,...,...,...,...,...,...,...,...,...
1478,2020-09-07,2.151,2.308,2.085,2.066,1.890,2.345,2.858,2.572,2020,Sep
1479,2020-09-14,2.130,2.285,2.050,2.027,1.857,2.329,2.855,2.568,2020,Sep
1480,2020-09-21,2.124,2.263,2.019,2.034,1.838,2.314,2.836,2.546,2020,Sep
1481,2020-09-28,2.114,2.257,2.016,2.059,1.836,2.296,2.817,2.530,2020,Sep
1482,2020-10-05,2.101,2.270,2.052,2.049,1.827,2.274,2.807,2.513,2020,Oct

In [5]:
df.to_csv('CleanHistGasPrices.csv', index=False)